/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .profile-pic {
   border-radius: 50%;
   background-size: 100%;
   margin: 1em;
   max-width: 7em;
   max-height: 7em;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #f4a142;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .brand-logo{
    font-size: 50px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.project{
  margin: 25px;
  display: inline-block;
}

.project:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project a{
  color: #f4a142;
}

#skills{
   text-align: center;
}

#urban_hunter, #feedbapp{
  width:350px;
}

#made_by{
  text-align: center;
}

.social-logo {
  height: 4em;
  margin: .1em auto;
  padding: 5px;
}


.skill-logo{
  height: 4em;
  margin: .1em auto;
}

.social-logo:hover .linkedin {
  fill: #0077B5;
}

.social-logo:hover .github {
  fill: #666;
}
.social-logo:hover .twitter {
  fill: #1DA1F2;
}

.languages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
}

.frameworks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
}

.other-skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px;
}

.other-skills > p {
  margin-top: 0;
}
